{% extends '::base.html.twig' %}

 {% block body %}
     
     
       <div id="contenido">
            {% block contenido %}
                  
                 
                  
                 
                
                 
              {% endblock %}
        </div>
 
           <div id="menuLateral">
            {% block menuLateral %}
                
                {% endblock %}
        </div>
 
        <div id="pie">
            {% block pie %}
                
                {% endblock %}
        </div>
 
 
 
 
 
 
 
 
 
 
 {% endblock %}

        {# empty Twig template #}

