{% extends '::base.html.twig' %}

{% block body -%}
    <h1>categorias</h1>

   
                
                <td>{{ entity.nombreCategorias }}</td> <br>
         <br>

       
    
        <a href="{{ path('categorias') }}">
            Volver a categorias
        </a>
    </li>
    <li>
        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
